<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="a4">
        <!-- Informações Pessoais do Candidato -->
        <div class="center_box">
            <h1>{{ var.name }}</h1>
        </div>

        <div class="left_box">

        </div>
    </div>
</body>
</html>